.college-admin-route-child {
	// background: rgb(240, 240, 240);
	// background: rgb(134, 134, 134);
	flex: 1;
	// margin: 1rem;
	// border-radius: 0.5rem;
	padding: 2rem;
	background-color: var(--gray);
	min-height: calc(100vh - 49px);
}
