/*
.login-page-main {
	background: linear-gradient(rgba(0, 0, 0, 0.623), darkslategray);
	height: 100vh;

	display: flex;
	.login-form-wrapper {
		background: white;
		padding: 2rem 1.8rem;
		margin: auto;
		border-radius: 0.2rem;
		width: 50%;
		min-width: 330px;
		max-width: 350px;

		display: flex;
		flex-direction: column;
		gap: 1rem;

		.login-form-div {
			h1 {
				font-size: 1.5rem;
			}
			input {
				display: block;
				width: 100%;
				padding: 0.6rem 0.8rem;
				border-radius: 0.2rem;
				border: 1px solid #cccccc;
				margin-top: 5px;
			}

			& > label > div {
				margin-top: 5px;
			}
		}
	}
}
*/

.login-page-main {
	// background: linear-gradient(rgba(0, 0, 0, 0.623), darkslategray);
	background: url(../../assets/images/login-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}
