/* github@AyushAgnihotri2025 */

body {
    background-color: #ffffff;
}

/*complete login page*/
#container {
    display: flex;
}

#Login-button1 {

    background-color: #EE6644;
    color: #ffffff;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-weight: bold;
    width: 60px;
    margin-left: 15px;
  }
  
  /*onclick login button shadow*/
  #Login-button1:hover {
    background-color: #EE6644;
    cursor: pointer;
  }
  
  /*signup button at the top right*/
  #Sign-up-button1 {
    background-color: #EE6644;
    color: #ffffff;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-weight: bold;
    width: 60px;
    margin-left: 15px;
  }
  
  /*onclick signup button shadow*/
  #Sign-up-button1:hover {
    background-color: #EE6644;
    cursor: pointer;
  }
  /*navigation bar at the top right*/
  #navigation1 {
    position: relative;
    width: 415px;
    display: flex;
    flex-direction: row;
    left: 75vw;
    padding: 0 10px 0px 10px;
    align-items: center;
    /*background-color: aqua;*/
    top: -80px;

  }
  
  
  #navigation1-2>a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #EE6644;
  }
  
  #Fake1 {
   background-color: rgb(246, 4, 4);
   color: #ffffff;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    height: 20px;
    font-weight: bold;
    width: 50px;
    margin-left: 15px;
  }
  
  #Fake1:hover {
    background-color:rgb(219, 9, 9);
    cursor: pointer;
  }


  /*logo position within block*/
  #logo1, #logo2{
    position: relative;
    margin-top: 1vw;
  }

/* Look for pc's and large screens */
@media (min-width: 780px) {

    /*input box for data*/
    input[type=text],
    input[type=password] {
        width: 26vw;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: block;
        border: none;
        background: #ddd;
    }

    /*onclick input boxes*/
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: rgb(188, 186, 186);
        outline: none;
    }

    /*onclick login button*/
    #Loginbutton3:hover {
        opacity: 1;
        /*hovering effect using webkit box shadow*/
        -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
        -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
        box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

    /*login button position and styling*/
    #Loginbutton3 {
        background-color: #EE6644;
        color: white;
        padding: 14px 20px;
        margin: 2% 0% 0% 39%;
        border: none;
        cursor: pointer;
        opacity: 0.9;
        border-radius: 10%;
    }

    /*login block container*/
    #container3 {
        padding: 20px;
    }

    /*login page image*/
    #image3 {
        position: absolute;
        top: -10px;
        right: 120px;
    }

    #contain3 {
        position: absolute;
        top: 135px;
        left: 150px;

    }

    img {
        width: 600px;
        height: 700px;
    }

    #heading3 {
        text-align: center;
        margin-left: 1.8%;
    }
}

/* Look for mobile phone screens */

@media (max-width: 780px) {
    body {
        margin: 0;
        line-height: 1.5;
        display: flex;
        padding: 0 10px;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }

    /*complete block of login page*/
    #container {
        flex-direction: column;
    }

    /*input boxes of login form*/
    input[type=text],
    input[type=password] {
        padding: 10px 50px 10px 50px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        border: none;
        background: #ddd;
    }

    /*onclick input boxes*/
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: rgb(188, 186, 186);
        outline: none;
    }

    /*onclick login button shadow*/
    #Loginbutton3:hover {
        opacity: 1;
        /*hovering effect using webkit box shadow*/
        -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
        -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
        box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

    /*log in button position and styling*/
    #Loginbutton3 {
        background-color: #EE6644;
        color: white;
        padding: 14px 20px;
        margin-top: 10px;
        border: none;
        cursor: pointer;
        opacity: 0.9;
        border-radius: 10%;
    }

    /*login block container*/
    #container3 {
        padding: 20px;
    }

    #heading3 {
        text-align: center;
        margin-left: 3%;
    }

    #image3 {
        position: relative;
    }

    #contain3 {
        position: relative;
    }

    img {
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}