body {
  /*background-image: url("images/homepage_img0.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #ffffff;
  position: relative;
  height: 96vh;
  overflow-x: hidden;
  
}


/*container containing header, bg image and heading*/
#container1_1{
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: aqua;*/
}


/*complete serach box position and styling*/
#searchbox1 {
  position: relative;
  align-items: center;
  left: 20vw;
  right: 20vw;
}

/*search bar*/
#search1 {
  position: relative;
  background-color: #293241;
  height: 8vh;
  width: 60vw;
  border-radius: 0.5vw;
  display: flex;
  top: 5vh;
  padding: 0.8vw 0.8vw 1.6vw 0.8vw;
  align-items: center;
  box-shadow: 0vw 0.4vw 0.4vw 0.25vw gainsboro;
}

/*search bar within text*/
#search1>input[type="text"] {
  height: 35%;
  margin: 0.6vw 0vw;
  border-radius: 0.4vw;
  padding-left: 0.8vw;
  font-size: 1vw;
  width: 95%;
  position: relative;
}



/*login button at the top right*/
#Login-button1 {

  background-color: #ffffff;
  color: #293241;
  font-size: 11px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 72px;
  margin-left: 15px;
}

/*onclick login button shadow*/
#Login-button1:hover {
  /*background-color: #f65b35;*/
  cursor: pointer;
}

/*signup button at the top right*/
#Sign-up-button1 {
  background-color: #ffffff;
  color: #293241;
  font-size: 11px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 73px;
  margin-left: 15px;
}

/*onclick signup button shadow*/
#Sign-up-button1:hover {
  /*background-color: #f65b35;*/
  cursor: pointer;
}
/*navigation bar at the top right*/
#navigation1 {
  position: absolute;
  height: 25px;
  width: 510px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 66vw;
  padding: 15px 10px 20px 10px;
  align-items: center;
  background-color: #293241;
}


#navigation1-2>a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
}

#Fake1 {
 background-color: #ffffff;
 color: #293241;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 20px;
  font-weight: bold;
  width: 50px;
  margin-left: 15px;
}

#Fake1:hover {
  /*background-color:rgb(219, 9, 9);*/
  cursor: pointer;
}

/*fake university link
#navigation1-1>a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color:red;
}*/

/*welcome heading position and styling*/
#homepageheading1 {
  margin-left:35% ;
  margin-top: 3vw;
}

/*search button in the search bar position and styling*/
#searchbutton1 {
  position: relative;
  margin-left: 2px;
  background-color: #EE6644;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 23px;
  font-weight: bold;
  width: 60px;
  cursor: pointer;
}

/*container for logo...big one*/
#container11 {
  position: relative;
  height: 25px;
  display: flex;
  flex-direction: row;
  padding: 31px 10px 31px 10px;
  align-items: center;
  width:99vw;
  background-color: #f8dad3;
  margin-top: -10px;
}

/*logo position within block*/
#logo1, #logo2{
  margin-top: 0vw;
}

#bg1{
  margin-top: -0.5vw;
}
/*for positioning of squares*/
#statistics1{
  height: 15vw;
  width:45vw;
  position: relative;
  display: flex;
  flex-direction: row;
  top: 30vw;
  left: 8vw;
  /*background-color: aqua;*/
}
/*for measurement of squares*/
.square {
  position: relative;
  text-align: center;
  height: 15vw;
  width: 15vw;
}
/*for individual squares*/
#sqaure1{
  background-color: red;
}

#sqaure2{
  background-color:orange;
}

#sqaure3{
  background-color:green;
}
/*for data written above sqaure*/
#heading1{
  position: relative;
  font-size:3.2vw;
  text-align: center;
  top: -7vw;
}

#heading2{
  position: relative;
  font-size:2.9vw;
  text-align: center;
  top: -7vw;
  
}

/*for image1_2 in homepgae*/
#image1_2 {
  position: relative;
  top: 2vw;
  left: 57vw;
}

/*for third section of home page*/
#heading1-1, #heading1-2 {
  margin-left: 0%;
  /*background-color: aquamarine;*/
  display: inline;
}


/*message for students*/
#box1-1{
  position: relative;
  width: 30vw;
  /*border: 5px solid green;*/
  padding: 4vw;
  margin-left: 7vw;
  margin-right: 7vw;
  height: 15vw;
 
 
}

#text1, #text2{
  font-weight: lighter;
  font-size: 1.2vw;
  text-align: justify;
  text-justify: inter-word;
}

/*message for university*/
#box1-2{
  position: relative;
  width: 30vw;
  /*border: 5px solid green;*/
  padding: 4vw;
  margin-top: 8vw;
  margin-left: 50vw;
  margin-right: 20vw;
  height: 20vw;
}

/*for home page third section image*/
#image1_3{
  position: relative;
  margin-top: -45vw;
  left: 11vw;
}

#image1_4{
  position: relative;
  margin-top: -55vw;
  left: 53vw;
}

/*footer block position */
.footer1 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 15%;
  background:#f8dad3;
  color: black;
}

.footer1 div{
  text-align: center;
  flex-grow: 0.2;
  right:100vw;
  font-weight: 300vw;
  margin-bottom: 0vw;
}


.col_1 a, .col_2 p, .col_3 p {
  text-decoration: none;
  display:block;
  margin-bottom: 0.8vw;
  color: black;
  font-size: small;
}

/*
.social{
  padding: 30px 15%;
  
  
}

#icons{
  margin-left: 350px;
}

.social a{
  cursor: pointer;
  color: #f1f1ef;
  text-decoration: none;
  margin-left: 50px;
  font-size: 30px;
  

}
*/

/*copyright block in footer*/
.copyright1{
  padding: 0.7vw 35%;
  color: #ffffff;
  background:#293241;
  width:100%;
}

#homebutton1 {

  background-color: #ffffff;
  color: #293241;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 72px;
  margin-left: 15px;
}

#homebutton1:hover {
  /*background-color: #f65b35;*/
  cursor: pointer;
}