.sideNavLayout{
    display: flex;
    justify-content: flex-start;
}
.sideNav{
   height: 100%;  
   width: 18%;  
   position: fixed; 
   z-index: 1; 
   top: 0; 
   left: 0; 
   background-color:#FDFEFF; 
   transition: .5s ease; 
   /* overflow-x: hidden;  */
   padding-top: 20px; 
   display: flex; 
   flex-direction: column; 
   align-items:center;
}

.sideNav a{
    text-decoration: none;
}

.coverPhoto img{
    height:80px;
    width:80px;
    border-radius: 50%;
    border: 3px solid #5FA8D3; 
}

.profileInfo{
    display: flex; 
    flex-direction: column; 
    align-items:center;
    width: 80%;
}


.regularSmBlack{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.regularMGrey{
    font-size: 25px;
    font-weight: 400;
    color: #7C7C7C;
}

.active{
    background: rgb(95,168,211);
    background: linear-gradient(90deg, rgba(95,168,211,0.4) 0%, rgba(95,168,211,0) 100%);
    color:#5FA8D3;
    border-left: 4px #5FA8D3 solid;
}


.tab{
    margin: 2vh 1vh 2vh -2.3vw;
    padding:2vh;
    /* height: 30px; */
    display: flex;
    justify-content: flex-start;
    
}


.navigationTabs{
    margin: 10vh 0 0 0vw;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    align-items:left;
    justify-content: space-evenly;

}

.addButton{
    align-content: center;
    position:fixed;
    height:70px;
    width:70px;
    margin-left: 11%;
    margin-top: -35px;
    z-index: 2;
    
}

.logo{
    margin:60px 60px 0 0;
}

.tabIcon{
    margin-right: 1vw;
}
.blueVertical{
    height: 100vh;
    width:1vw;
    position: absolute;
    margin:0 0 0 18%;
    background: rgb(95,168,211);
    background: linear-gradient(0deg, rgba(95,168,211,1) 0%, rgba(202,233,255,1) 50%, rgba(27,152,177,1) 100%);
}