.add-new-college-admin-main {
	// background-color: lightblue;
	height: 100%;
	background-color: white;
	box-shadow: 0 2px 20px #dedede;
	padding: 1.5rem;
	border-radius: .2rem;

	.add-new-college-admin-form {
		// background-color: antiquewhite;
		padding: 1rem 0;
		// display: flex;
		gap: 3rem;
		margin: 0 auto;

		.form-div {
			margin-top: 0.6rem;

			label {
				font-size: 0.9rem;
			}
			input:not([type='submit']) {
				display: block;
				padding: 0.5rem 1rem;
				// font-size: 1rem;

				margin-top: 5px;
				width: 100%;
				max-width: 350px;
				// margin-left: 10px;
				background-color: white;
				border: 2px solid rgb(180, 180, 180);
				border-radius: 0.25rem;
				color: black;
			}
			input[type='submit'] {
				font-weight: bold;
				// font-size: 1rem;
				border: none;
				padding: 0.6rem 0;
				text-transform: uppercase;
			}
		}
	}
}
