@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.form-container{
  max-width: 700px;
  margin-top: 130px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.35);
  border: #d9d9d9;
}
.form-container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 5px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: column;
  font-weight: 500;
  margin-bottom:5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0,0,0,0.35);
  background-color: transparent;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: none;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 /* form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
} */
.title-add-lab {
  text-align: center;
}
 

 @media(max-width: 584px){
 .form-container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .form-container .content .category{
    flex-direction: column;
  }
  .form-container{
    width: 280px;
  }
}
