.stp-list-card-main {
	background: var(--white);
	margin: 15px 0;
	padding: 20px 25px;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	row-gap: 10px;
	border-radius: 6px;
	box-shadow: 0 2px 20px #dedede;
	position: relative;
	// cursor: pointer;

	& > span {
		position: absolute;
		top: 5px;
		right: 8px;
		font-size: 13px;
		font-weight: 600;
		background: #00d600;
		padding: 3px 8px;
		border-radius: 10px;
		color: white;
	}
}

@media screen and (max-width: 700px) {
	.stp-list-card-main {
		grid-template-columns: 1fr;
	}
}
