.analytics {
    width: 90%;
    height: calc(100vh - 3rem);
    margin: 1.5rem auto;

    h2 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .standings-grp {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        justify-content: space-evenly;
    }

    .graph-grp {
        width: 100%;
        height: 50rem;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.graph-wrapper {
    height: 40rem;
}

.graph-wrap-paper {
    width: 40%;

    &.long {
        width: 100%;
    }
}

.map-graph {
    position: relative;
    width: 100%;
}

.india-title {
    font-size: 2.5rem !important;
    transform: translateY(150px);
}