.formHeading{
    font-size: 1.7em;
    font-weight: 700;
}

.formSubHeading{
    color: rgb(92, 92, 92);
    padding-top: 7px;
}

.hLine{
    width: 10%;
    height: 4px;
    background-color: lightcoral;
    margin: 15px 0 35px 0;
    border-radius: 20px;
}

.form-div .h1 {
    color: #000;
}
.feedback-form-page-main .form-div input[type='submit']{
 width: 40%;
}