.gridContainer{
    display: grid;
    width: 70vw;
    height:auto;
    grid-template-columns: auto auto;
    /* padding: 20px 20px; */
    margin: 80px 0 0 150px;
}

.gridItem{
    margin:30px 0;
}

.spinner{
    margin:30vh 40vw;
}