<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dork Result</title>
</head>
<body>
    <h1>Links similar to Title uploaded: </h1>
    <h1>{{user}}</h1>

    <h1>{{user2}}% Plagiarism detected</h1>

    <h1>{{result}} </h1>

    <!-- <div id="data"><input class="txt" type="file"></div>
    <button onclick="">SUBMIT YOUR DOCUMENT</button> -->
    <H1></H1><a href="{{url_for('home')}}">CLICK HERE FOR FINAL SUBMISSION OF DOCUMENT</a></H1>
    <!-- <a href=""></a> -->
    
</body>
</html>