.leaderboard-card-main {
	background-color: lightblue;
	margin: 1.5rem 0;
	padding: 1rem 2rem;
	display: grid;
	gap: 10px;
	grid-template-columns: 40px 1fr;

	align-items: center;
	// justify-content: space-between;
	border-radius: 6px;
	background-color: white;
	box-shadow: 1px 4px 20px #dedede;

	> p {
		font-weight: 400;
		font-size: 1.2rem;
		color: black;

		> span {
			font-size: 1rem;
			font-weight: 400;
		}
	}
	p.leaderboard-rank {
		color: rgb(0, 140, 255);
		font-size: 1.4rem;
		font-weight: 500;
	}
}
